:root {
  --nav_height: 60px;
  --Dashboard_Font_Color: #2c2c2c;
  --Dashboard_Font_Color_Checked: #1355c5;
  --Dashboard_Font_Color_Checked_Light: rgb(213, 224, 254);
  --Navbar_Color: rgb(249, 250, 255);
  --Button_Color_NonActive: rgb(182, 182, 182);
  --Button_Color_Active: white;
  --Button_Border_Color_NonActive: rgb(38, 38, 38);
  --Button_Border_Color_Active: rgba(255, 255, 255, 0.3);
}

[data-theme="light"] {
  --Button_Color_NonActive: rgb(165, 165, 165);
  --Button_Color_Active: black;
  --Button_Border_Color_NonActive: rgb(165, 165, 165);
  --Button_Border_Color_Active: black;
}

.Navbar_MainDiv {
  height: var(--nav_height);
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.Navbar_MainDiv_Logo {
  height: 30px;
  width: auto;
  padding-left: 10px;
}

.Navbar_MainDiv_LogoPart {
  width: 100%;
}


.Navbar_MainDiv_Buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.Navbar_Button {
  background: none;
  color: var(--Button_Color_NonActive);
  height: var(--nav_height);
  width: 130px;
  border: 0;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  letter-spacing: 1.5px;
  padding: 0 20px;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: 1px solid var(--Button_Border_Color_NonActive);
  transition: all 0.3s ease;
  text-decoration: none;
}

.Navbar_Button:hover {
  border-bottom: 1px solid var(--second_color);
  color: var(--second_color);
}

.isActive {
  color: var(--Button_Color_Active);
  border-bottom: 1px solid var(--Button_Border_Color_Active);
}

.Navbar_MainDiv_Account {
  width: 100%;
  height: var(--nav_height);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  padding-right: 10px;
}

.Navbar_MainDiv_Account_Container {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  color: var(--Button_Color_Active);
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.no-link-style {
  text-decoration: none;
  color: inherit;
}

.no-link-style:hover {
  text-decoration: none;
  color: inherit;
}



.dashboard_nav_drawer {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 60px;
  background-color: rgba(251, 251, 251, 0.5);
  width: 250px;
  transform: translateX(-85%);
  transition: transform 1s ease, background-color 1s ease;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  align-items: flex-end;
  z-index: 99;

}

.dashboard_nav_drawer.open {
  transform: translateX(0);
  background-color: rgba(255, 255, 255, 1);
  transition: transform 1s ease, background-color 1s ease;
}


.dashboard_drawer_widget {
  display: flex;
  width: 95%;
  height: 50px;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
}

.dashboard_drawer_widget_icon {
  font-size: 25px;
  position: absolute;
  right:7px;
}

.dashboard_drawer_widget_icon.open {
  font-size: 25px;
  position: relative;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Dashboard_Font_Color);
  transition: all 0.3s ease;
}


.dashboard_drawer_widget_description {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 5px;
  font-size: 13px;
  font-weight: 600;
  color: var(--Dashboard_Font_Color);
  transition: all 0.3s ease;
}

.dashboard_drawer_widget_number {
  width: 40px;
  border-radius: 10px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: #acacac;
  transition: all 0.3s ease;
}

.dashboard_drawer_widget:hover {
  background-color: #a3daf3;
  border-left: 4px var(--Dashboard_Font_Color_Checked) solid;
  transition: all 0.3s ease;
}

.dashboard_drawer_widget:hover .dashboard_drawer_widget_description {
  color: var(--Dashboard_Font_Color_Checked);
  transition: all 0.3s ease;
}

.dashboard_drawer_widget:hover .dashboard_drawer_widget_icon {
  color: var(--Dashboard_Font_Color_Checked);
  transition: all 0.3s ease;
}

.dashboard_drawer_widget:hover .dashboard_drawer_widget_number {
  color: #cfcfcf;
  background-color: var(--Dashboard_Font_Color_Checked);
  transition: all 0.3s ease;
}

.dashboard_nav_drawer_menuicon {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dashboard_nav_drawer_menuicon.open {
  top: 0;
  left: 20px;
  transition: all 0.3s ease;
}