:root {
    --main_bg: rgb(15, 15, 15);
    --settings_bg:  rgba(255, 255, 255, 0.034);
    --settings_title:  rgb(220, 220, 220);
    --settings_title_light:  rgb(172, 172, 172);
    --setting_card_hover: rgba(255, 255, 255, 0.11);
}
  
  [data-theme="light"] {
    --main_bg: rgb(245, 245, 245);
    --settings_bg:  rgba(7, 7, 7, 0.075);
    --settings_title:  rgb(32, 32, 32);
    --settings_title_light:  rgb(99, 99, 99);
    --setting_card_hover: rgba(0, 0, 0, 0.267);
}

.Settings_MainDiv {
    background-color: var(--main_bg);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Settings {
    background-color: var(--settings_bg);
    width: 80%;
    height: 80%;
    margin-top: 60px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.219);
    padding: 10px;
    position: relative;
}

.Settings_Title {
    width: 100%;
    color: var(--settings_title);
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 3px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.103);
}

.SettingCard {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.103);
    display: flex;
    gap: 10px;
    padding: 10px;
    color: var(--settings_title);
    border-radius: 3px;
    font-size: 14px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.SettingCard:hover {
    background-color: var(--setting_card_hover);
    transition: all 0.2s ease;
}

.Settings_GoBack {
    position: absolute;
    top: 5px;
    right: 10px;
    color: var(--settings_title_light);
    font-size: 25px;
    font-weight: 700;
    transition: all 0.2s ease;
}

.Settings_GoBack:hover {
    color: var(--settings_title_dark);
    transition: all 0.2s ease;
}

.Directories {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: 1px;
}


.path_selector {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    width: 80%;
    border-bottom: 1px solid, var(--settings_title_light);
    padding-bottom: 10px;
}

.path_selector button {
    background-color: #2f7919;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    width: 100px;
}

.path_selector button:hover {
    background-color: black;
    transition: all 0.3s ease;
}

.path_selector input {
    width: 500px;
    height: 30px;
}

.confirm_button_startup {
    background-color: green;
    padding: 0;
    padding: 5px 40px 5px 40px;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    right: 35px;
    max-width: 90px;
}

.Directories_Desc {
    color: var(--settings_title_light);
    font-size: 14px;
    width: 50%;
}

.Directories_Title{
    color: var(--settings_title);
    font-size: 17px;
}


.Connections_MainDiv{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.Connections_Paragraph{
    background-color: rgba(255, 255, 255, 0.192);
    border-radius: 10px;
    padding: 10px;
    color:var(--settings_title);
    position: relative;
}

.Connections_Paragraph_Title{
    font-size: 20px;
    color:var(--settings_title);
    display: flex;
    gap:10px;
    align-items: center;
}

.Connections_Paragraph_InputDiv{
    margin-top: 10px;
}

.Connections_Paragraph_InputDiv label{
    width: 100px;
}

.Connections_Paragraph_InputDiv input{
    border-radius: 5px;
}

.Connections_Paragraph_Btn_Aggiorna{
    position: absolute;
    bottom:5px;
    right:5px;
    background-color: white;
    border: none;
    border-radius: 5px;
}

.Connections_Paragraph_Btn_TestClient{
    background-color: white;
    border: none;
    border-radius: 5px;
     margin-top: 10px;
}

.Connections_Paragraph_Circle{
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.Connections_Paragraph_Circle.red{
    background-color: rgb(194, 24, 24);
}

.Connections_Paragraph_Circle.green{
    background-color: rgb(21, 119, 21);
}

.Connections_Paragraph_InputDiv_Test{
    margin-left: 10px;
    border-radius: 5px;
    background-color: white;
    height: 28px;
}



/* From Uiverse.io by arghyaBiswasDev */ 
/* The switch - the box around the slider */
.General_switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .General_switch .General_input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .General_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #adb5bd;
    transition: .4s;
    border-radius: 30px;
    width: 50px;
    height: 30px;
  }
  
  .General_slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    border-radius: 20px;
    left: 0.25em;
    bottom: 0.25em;
    background-color: #adb5bd;
    transition: .4s;
  }
  
  .General_input:checked + .General_slider {
    background-color: #007bff;
    border: 1px solid #007bff;
  }
  
  .General_input:focus + .General_slider {
    box-shadow: 0 0 1px #007bff;
  }
  
  .General_input:checked + .General_slider:before {
    transform: translateX(1.4em);
    background-color: #fff;
  }


  .Preferences_ModTablet{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
  }

  .Preferences_ModTablet_Title{
    color:var(--settings_title);
    width: 200px;
  }

  .disabled{
    color:#ffffffa4;
  }

  .Preferences_ModTablet_Desc{
    color:var(--settings_title_light);
    font-size: 14px;
  }