:root{
    --report_table_bg_color: rgba(255, 255, 255, 0.142);
    --report_toolbar_bg_color: rgba(255, 255, 255, 0.656);
}

.lista_MAIN_DIV{
    height: 100vh;
    overflow: hidden;
    width: 100%;
    background: var(--main_bg_color_linear);
    color:white;
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

.table_lista_report_upper_upper{
    width: 90%;
    height: 87%;
}

.table_lista_report_upper{
    background-color: var(--report_table_bg_color);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    position: relative;
}

.table_lista_report{
    width: 100%;
}

.lista_btn_indietro{
    position: absolute;
    top:65px;
    right:10px;
    background: none;
    border: none;
    color:white;
    font-size: 30px;
    transition: all 0.3s ease;
}

.lista_btn_indietro:hover{
    color:rgb(209, 209, 209);
    transition: all 0.3s ease;
}


.table_lista_report_icon_folder_file{
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.table_lista_report_toolboxBar{
    background-color:  var(--report_toolbar_bg_color);
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.table_lista_report_toolboxBar_searchDiv{
    display: flex;
    background-color: white;
    gap:2px;
    display: flex;
    width: 300px;
    color:black;
    padding: 5px;
    border-radius: 10px;
    margin-left: 10px;
}

.table_lista_report_toolboxBar_searchDiv input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(19, 32, 150, 0);
    border-left: 1px solid rgba(19, 32, 150, 0.153);;
    transition: all 0.2s ease;
}

.table_lista_report_toolboxBar_searchDiv input:focus{
    outline: none;
    border-bottom: 1px solid rgb(19, 32, 150);
    border-left: 1px solid rgba(19, 32, 150, 0);;
    transition: all 0.2s ease;
}

.table_lista_report_toolboxBar_pathDiv{
    position: absolute;
    background-color: rgb(255, 255, 255);
    top:0;
    right:0;
    font-size: 11px;
    border-bottom-left-radius: 30px;
    color:rgb(42, 42, 42);
    padding: 3px;
    padding-left: 10px;
}


.table_lista_report td{
    border-bottom: 1px solid rgba(255, 255, 255, 0.267);
}

.table_lista_report_toolboxBar_searchBtn{
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.table_lista_report_toolboxBar_searchBtn:hover{
    color: bisque;
    transition: all 0.2s ease;
    cursor: pointer;
}

.table_lista_report_row{
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.285);
}

.table_lista_report_row > div {
    flex-shrink: 0; 
    width: 4%; 
    text-align: center; 
}

.table_lista_report_row > span {
    flex-shrink: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    white-space: nowrap; 
    height: 30px;
    padding: 5px;
}

:root{
    --s:black;
}

.table_lista_report_row > span:nth-child(2) {
    width: 40%; /* Codice */
}

.table_lista_report_row > span:nth-child(3) {
    width: 20%; /* Data */
}

.table_lista_report_row > span:nth-child(4) {
    width: 16%; /* Progressivo */
}

.table_lista_report_row > span:nth-child(5) {
    width: 20%; /* Operatore */
}


.table_lista_report_header {
    display: flex;
    align-items: center; 
}

.table_lista_report_header > div {
    flex-grow: 0; 
    flex-shrink: 0;
    padding: 5px;
    text-align: left; 
}

.table_lista_report_header > div:nth-child(1) {
    width: 3.5%; /* Larghezza della prima colonna */
}

.table_lista_report_header > div:nth-child(2) {
    width: 40%; /* Larghezza della colonna "Codice" */
}

.table_lista_report_header > div:nth-child(3) {
    width: 20%; /* Larghezza della colonna "Data" */
}

.table_lista_report_header > div:nth-child(4) {
    width: 16%; /* Larghezza della colonna "Progressivo" */
}

.table_lista_report_header > div:nth-child(5) {
    width: 20%; /* Larghezza della colonna "Operatore" */
}

.table_lista_report_header_file_trovati{
    position: absolute;
    top:0;
    right:0;
    font-size: 11px;
    background-color: white;
    border-bottom-left-radius: 20px;
    color:rgb(56, 56, 56);
    padding: 5px;
}

.table_lista_report_toolboxBar_search_cancel_Btn{
    position: absolute;
    right:2px;
    bottom:0px;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
    transition: all 0.3s ease;
}

.table_lista_report_toolboxBar_search_cancel_Btn:hover{
    font-size: 30px;
    transition: all 0.3s ease;
    color:rgb(19, 19, 19);
}

.table_lista_report_toolboxBar_search_advanced_Btn{
    margin-left: 5px;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color:white;
    transition: all 0.2s ease;
}

.table_lista_report_toolboxBar_search_advanced_Btn:hover{
    color:bisque;
    transition: all 0.2s ease;
}

.table_lista_report_toolboxBar_otherParams_MainDiv{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    position: relative;
    color:rgb(32, 32, 32);
}

.table_lista_report_toolboxBar_otherParams_MainDiv_Title{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    margin-bottom: 10px;
    border-radius: 5px;
}

.table_lista_report_toolboxBar_otherParams_MainDiv_ExitBtn{
    position: absolute;
    top:0;
    right:0;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.2s ease;
    color:rgb(66, 66, 66);
}

.table_lista_report_toolboxBar_otherParams_MainDiv_ExitBtn:hover{
    color:black;
    transition: all 0.2s ease;
}

.table_lista_report_toolboxBar_otherParams_SingleDiv{
    border: 1px solid rgba(0, 0, 0, 0.181);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.table_lista_report_toolboxBar_otherParams_SingleDiv h1{
    font-size: 12px;
    color:rgb(41, 41, 41);
    background-color: white;
    width: 200px;
    border-radius: 5px;
    padding: 3px;
}

.table_lista_report_toolboxBar_datePickerDiv{
    display: flex;
    flex-direction: column;
}

.table_lista_report_toolboxBar_datePickerDiv label{
    font-size: 14px;
}

.table_lista_report_toolboxBar_datePickerDiv input{
    border: 1px solid rgba(0, 0, 0, 0.208);
    padding: 5px;
    border-radius: 5px;
}